<div>
  <h3>Product Rating</h3>
  {{#if product.ratings}}

<p>
  <h3>Average Rating: {{averageRatings}}</h3> 
</p>


  {{else}}
  <p>
    Be the first to rate this product!
  </p>
  {{/if}}

  <form>
    <div class="form-group">
      <label>Rate this product (1-5)</label>
      {{input value=rating}}
    </div>
    <button {{action 'saveRating'}}>Rate</button>

  </form>
</div>
