
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="#">Backwoods Store App</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li class="index">{{#link-to 'cart'}}View Cart{{/link-to}}</li>
        <li class="index">{{#link-to 'index'}}Shop{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    {{outlet}}
</div>
